
body{
  background-color: grey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  border: solid 1px black;
  font-size: 30px
}
.cabecera{
  display: flex;
  align-items: center;
  height: 4em ;
  font-size: .5em;
  background-color: whitesmoke;
  padding-left: 3em;
}
img{
  width: 2em;
}
.titulo{
  padding-left: 5px;
  font-weight: bolder ;
}
.subtitulo{
  align-self: baseline;
    padding-left: 25px;
  color: #404040;
}
.contenido{
  color: pink;
  font-size: .8em;
}
.footer{
  color: whitesmoke;
  font-weight: bold;
  background: linear-gradient(to right, grey , black );
}