
body{
  background-color: grey;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  border: solid 1px black;
  font-size: 30px
}
.cabecera{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4em ;
  font-weight: bold;
  font-size: .5em;
  background-color: whitesmoke;
}
.contenido{
  color: pink;
  font-size: .8em;
}
.footer{
  color: whitesmoke;
  font-weight: bold;
  background: linear-gradient(to right, grey , black );
}